@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
  }

  .dark {
    --background: 15 23 42;
    --foreground: 241 245 249;
  }
}

* {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

.placeholder-color {
  @apply text-gray-400 dark:text-gray-500 font-light;
}
